:root {
    --primary-color: #222;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 5vh 0;
    background-color: #FFF;
    color: var(--primary-color);
}

.logo { text-align: center; margin-bottom: 5vh; }
.logo span { display: block; }
.logo__title { font-size: 4em; margin: 0 0 0.075em; }
.logo__slogan { font-size: 0.95em; text-transform: uppercase; opacity: 0.4; }


.container {
    max-width: 32em;
    margin: 0 auto;
    padding: 0 15px;
}

.timer {
    margin: 0 0 5vh 0;
    text-align: center;
    font-size: 4em;
}

.timer span + span:before {
    content: ':';
    display: inline-block;
    margin: 0 0.15em;
}

.button {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1em;
    border: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #FFF;
}

.statistics { text-align: center; margin: 0 0 1vh; }

.statistics img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2em 0 0;
}

.statistics span {
    display: inline-block;
    vertical-align: middle;
}

.statistics span + span:before {
    content: '/';
    margin: 0 1em;
}